#list {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 80%; 
}


#list th, #list td {
  border: 1px solid #ddd;
  padding: 8px;
}


#list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f2f2f2;
}


#list tr:nth-child(even) {
  background-color: #f9f9f9;
}

.flex-center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  color: rgba(204, 0, 255, 0.997);
  margin: 0;
  padding: 0;
}
.sub-img {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "subImg1 subImg2 subImg3 subImg4";
}
.sub-img-1 {
  grid-area: subImg1;
}
.sub-img-2 {
  grid-area: subImg2;
}
.sub-img-3 {
  grid-area: subImg3;
}
.sub-img-4 {
  grid-area: subImg4;
}
.sub-img img {
  width: 100%;
  height: 100%;
}
.logo_block {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.logo_item {
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo_item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.final_block {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "final_img final_text";
}
.final_block img {
  width: 100%;
  grid-area: final_img;
}
.final_block_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: final_text;
}
_title {
  font-weight: 700;
  font-size: 25px;
}
.final_block_left {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "final_text final_img";
}
.final_block_left img {
  width: 100%;
  grid-area: final_img;
}
.final_block_left_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: final_text;
}
_title {
  font-weight: 700;
  font-size: 25px;
}
.content-blockg {
  display: block;
  text-align: center;
  margin: auto;
  width: 90%;
  background-color: MediumVioletRed;
}
.image-giga {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 2%;
}
.image-giga img {
  width: 50%;
}
.content-blockh {
  display: block;
  text-align: center;
  margin: auto;
  width: 90%;
  background-color: MediumVioletRed;
}
.image-hino {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 2%;
}
.image-hino img {
  width: 50%;
}
@media (max-width: 1024px) {
  .sub_img {
    width: 100%;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .sub_img img {
    display: block;
    min-width: 100px;
    max-width: 50%;
    flex-grow: 1;
  }
  .logo_block {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .logo_item {
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo_item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .final_block {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .final_block_left {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .final_block_content {
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .final_block_content_title {
    font-weight: 700;
    font-size: 50px;
  }
}
