-       
    var dictMenu = {
        'Новинки':'#',
        'Альбомы':'#',
        'Исполнители':'#'
    }
    var active_menu = 'Новинки'
    var titleText = 'Musicallity'   
mixin createMenu(menu, active)
    each value, key in dictMenu
        if active == key
           .item-a
            a(href= value)= key 
        else
            .item 
                a(href= value)= key
block header
.header
  .header_title
    h3= titleText
  .menu
    +createMenu(dictMenu,active_menu)